* {
  box-sizing: border-box;
}

:root {
  /* --main: #02736f; */
  --main: #025754;
  /* --dark: #013331; */
  --dark: #1c2928;
  /* --high: #db4d00; */
  --high: #ff8700;
}

body {
  font-family: "Poppins";
  font-size: 2rem;
  /* overflow-y: hidden; */
  overflow-x: hidden;
  color: black;
  background-color: white;
}

.grid-60 {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  /* margin-bottom: 100px; */
  column-gap: 50px;
}

.grid-50 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* margin-bottom: 100px; */
  column-gap: 50px;
}

.grid-40 {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  /* margin-bottom: 100px; */
  column-gap: 50px;
}

.color-block {
  background-color: var(--main);
  color: white;
}

header img {
  /* margin-left: 50px; */
  width: 100%;
  height: auto;
}

header p {
  font-size: 2.3rem;
  font-weight: bold;
  padding: 50px 50px 0px 0px;
  line-height: 130%;
}

.main-header {
  padding: 50px 10vw;
}

.color-block {
  background-color: var(--main);
  color: white;
}

#about-close {
  position: absolute;
  bottom: 0;
  right: 50%;
  z-index: 1;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: all 0.5s ease;
  padding: 50px;
}

section {
  padding: 50px 15vw;
  margin: 0 auto;
}

section img {
  width: 100%;
  height: auto;
  /* margin-right: 10px; */
}

.width-40 {
  min-width: fit-content;
  max-width: 50vw;
  margin: 5vw;
  /* background-color: aqua; */
}

.roundPhoto {
  border-radius: 50%;
}

video {
  cursor: pointer;
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

iframe {
  width: 100%;
  height: auto;
  min-height: 90vh;
}

.sketchfab-embed-wrapper {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 8rem;
  font-weight: bold;
  line-height: 130%;
}

h2 {
  font-size: 4rem;
  padding: 15px;
  font-weight: bold;
  /* text-decoration: underline 5px; */
  text-decoration-color: var(--main);
  text-underline-offset: 20%;
  text-decoration-style: solid;
  margin-bottom: 35px;
  max-width: 100%;
  background-color: var(--main);
  color: white;
  transition: all 0.5s ease;
  text-align: center;
}

.prj-h2 {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
}

h3 {
  font-size: 2.3rem;
  line-height: 130%;
  margin-bottom: 1rem;
  font-weight: bold;
}

p {
  font-size: 2rem;
  line-height: 130%;
  margin-bottom: 50px;
}
a {
  font-size: 2rem;
  line-height: 130%;
  margin-bottom: 1rem;
  transition: all 0.2s ease;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: var(--main);
}

a:active {
  font-size: 1.9rem;
}

a:hover {
  font-size: 2.1rem;
}

.main-link {
  display: block;
  font-size: 4rem;
  width: 100%;
  line-height: 130%;
  text-align: center;
}

.main-link:hover {
  font-size: 4.1rem;
}

span {
  line-height: 130%;
  padding-bottom: 10px;
}

.collum-right {
  float: right;
}

.collum-left {
  float: left;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.relative {
  position: relative;
}

/* midia-queries */

@media screen and (max-width: 1080px) {
  .width-40 {
    max-width: 100%;
  }

  .collum-right {
    float: none;
  }

  .collum-left {
    float: none;
  }
}

@media screen and (max-width: 768px) {
  .width-40 {
    max-width: 100%;
  }

  .collum-right {
    float: none;
  }

  .collum-left {
    float: none;
  }

  h1 {
    font-size: 6rem;
    line-height: 130%;
  }

  h2 {
    font-size: 2rem;
    line-height: 130%;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 130%;
  }

  p {
    font-size: 1.5rem;
    line-height: 130%;
  }
}
